//colors
$green: #09C2BC;
$grey: #B7B7B7;
$grey-light: #F5F5F5;
$grey-medium: #E4E4E4;
$grey-dark: #2E3139;
$btn-disable: #BFE1E0;
$btn-hover: #47D1CC;
$btn-active: #23A09C;
$red: #FB524F;
$shadow: #D9DDE7;

//fonts
$noto-sans: 'Noto Sans', sans-serif;
$noto-sans-tc: 'Noto Sans TS', sans-serif;

:root {
  --green: #09C2BC;
  --grey: #B7B7B7;
  --grey-light: #F5F5F5;
  --grey-medium: #E4E4E4;
  --grey-dark: #2E3139;
  --btn-disable: #BFE1E0;
  --btn-hover: #47D1CC;
  --btn-active: #23A09C;
  --red: #FB524F;
  --shadow: #D9DDE7;
  --white: #FCFCFE;

  --noto-sans: 'Noto Sans', sans-serif;
  --noto-sans-tc: 'Noto Sans TS', sans-serif;
}
